
.mat-card-title {
  font-size: xx-large;
}

.mat-card-content img {
  width: 180px;
  height: fit-content;
  border-radius: 2px;
}

label {
  padding: 0 10px;
}

img {
  padding: 10px;
  width: fit-content;
  margin: auto;
  margin-top: 0;
}

.detail-genres {
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
  padding: 10px 10px 20px 10px;
  // color: rgba(0, 0, 0, 0.64);
}

.detail-key {
  text-transform: capitalize;
}

.detail-value {
  padding: 0 0 10px 0;
}


#close_btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
