<mat-card class="card">
  <mat-card-content>
    <div fxLayout="row">
      <img [src]="detail.poster" alt="{{ detail.title }}">

      <div fxLayout="column" fxFlex fxLayoutAlign="center">
        <mat-card-header>
          <mat-card-title>{{ detail.title }}</mat-card-title>
          <mat-card-subtitle>{{ detail.release }}</mat-card-subtitle>
        </mat-card-header>

        <div fxLayout="row">
          <label class="detail-genres" *ngFor="let genre of detail.genres">{{ genre }}</label>
        </div>
        <div fxLayout="row" *ngFor="let item of getDynamicDetailValues() | keyvalue">
          <div fxFlex="15">
            <label class="detail-key">{{ item.key }}</label>
          </div>
          <div fxFlex="85">
            <label class="detail-value" *ngFor="let v of item.value">{{ v }}</label>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center" *ngIf="!isPresent()">
          <button mat-fab class="action-btn" (click)="add()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>

    </div>

  </mat-card-content>

</mat-card>
