@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "./theme.scss";

$color-bg: rgb(84, 96, 92);
$accent: map-get($dark-theme, accent);

html, body {
  background-color: mat-color($dark-primary, 900);
}

::selection {
  background: mat-color($accent);
}

.mat-card {
  background: mat-color($dark-primary, 800) !important;
  max-width: 992px;
  margin: auto;
}

.mat-autocomplete-panel {
  max-height: 50vh !important;
}

.mat-form-field-infix {
  font-size: x-large;
}

.mat-form-field-flex {
  padding: 10px 20px !important;
}


.mat-card-header-text {
  margin: 0 !important;
  padding: 0 10px;
}

.mat-input-element {
  color: mat-color($dark-accent, 200) !important;
}

.mat-icon-button {
  color: mat-color($dark-accent, 200) !important;
}




/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: mat-color($dark-primary, 600); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: mat-color($dark-accent, 200); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: mat-color($dark-accent, 400); 
}
