<form class="watchlist-form">
  <mat-form-field class="watchlist-full-width">
    <input matInput id="search_input" placeholder="Search" aria-label="Search imdb" [matAutocomplete]="auto" [formControl]="searchCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let result of filteredResults | async" (onSelectionChange)="onSelection(result)">
        <img class="watchlist-option-img" aria-hidden [src]="result.i[0]" height="25">
        <span>{{ result.l }}</span> |
        <small>{{ result.s }}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-progress-bar class="search-progress-bar" [ngClass]="{'visible': loading}" mode="indeterminate"></mat-progress-bar>
</form>
